.about {
  height: 40vw;
}

.about h1 {
  font-size: 5vw;
  font-family: "Tangerine";
  text-align: center;
  color: #9d30a1;
  margin-top: 1vw;
  font-weight: bold;
}
.aboutflex {
  display: flex;
  justify-content: space-around;
  margin: 2vw;
}
.about ul {
  width: 45vw;
  padding-left: 15vw;
}
.about p {
  font-size: 2vw;
  line-height: 3vw;
  font-family: Arial, Helvetica, sans-serif;
}
.about img {
  width: 25vw;
  height: 25vw;
  margin-right: 5vw;
  border-radius: 4vw;
}
.traco1 {
  content: "";
  width: 20vw;
  border: solid 0.05vw rgb(122, 122, 122);
  margin: auto;
}
